@@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  src: url('./main-fontfamily/Avenir-Medium-09.ttf'); /* IE9 Compat Modes */
}

.App {
  text-align: center;
  color: white;
  font-family: 'Avenir Next'
}

.App a{
  color: #bfbfbf;
}

h2{
  font-size: calc(28px + 2vmin);
  padding: 0px 20px;
  background: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;}

p{
  margin-top: 14px
}

.Clock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  margin-top: 26px;
  margin-bottom: 30px
}

.column{
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-bottom: 20px
}

.figure{
  font-size: 50px;
  font-weight: 600
}

@media only screen and (max-width: 800px) {
  .Clock{
    margin-top: 10px
  }

}
